/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --primary-color: #dc0a2d;
  --grayscale-dark: #212121;
  --grayscale-medium: #666666;
  --grayscale-light: #e0e0e0;
  --grayscale-background: #efefef;
  --grayscale-white: #ffffff;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  padding: 10px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  max-width: 800px;
  margin: 10px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  margin-right: 15px;
}

.searchBarSection,
.searchByType {
  max-width: 800px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.searchBarSection input {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  border: none;
  border-radius: 20px;
  box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.25);
  background-image: url(/assets/icons/search.png);
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

.searchBarSection input::-webkit-search-cancel-button {
  position: relative;
  right: 20px;
}

.searchByType select {
  width: 175px;
  height: 40px;
  padding-left: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.25);
  /* Arrow change */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, var(--grayscale-white) 50%), linear-gradient(135deg, var(--grayscale-white) 50%, transparent 50%),
    linear-gradient(to right, var(--primary-color), var(--primary-color));
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 4rem 4rem;
  background-repeat: no-repeat;
  border-color: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto 20px;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.25);
  background-color: var(--grayscale-background);
}

.cardsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.morePokemons {
  width: 70px;
  height: 70px;
  margin-top: 30px;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.pokemonCardMini {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--grayscale-white);
  transition: border 50ms ease;
}

.pokemonCardMini::after {
  position: absolute;
  left: 0%;
  top: 60%;
  content: "";
  width: 100%;
  height: 40%;
  border-radius: 14px;
  background-color: var(--grayscale-light);
}

.pokemonCardMini .pokemonId {
  position: absolute;
  right: 6%;
  top: 5%;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #ffffffb6;
}

.pokemonCardMini .pokemonThumbnail {
  position: absolute;
  top: 15%;
  left: 15%;
  max-width: 100%;
  max-height: 70%;
  z-index: 1;
}

.pokemonCardMini .pokemonName {
  position: absolute;
  bottom: 5%;
  width: 100%;
  z-index: 1;
}

.modalFilter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000b9;
  z-index: 999;
}

.pokemonModal {
  position: fixed;
  left: calc(50% - 580px / 2);
  top: 5%;
  width: 580px;
  padding: 10px 30px 10px;
  border-radius: 20px;
  box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
}

.pokemonModal .topLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemonModal .topLineLeft {
  display: flex;
  align-items: center;
}

.pokemonModal .topLineLeft button {
  margin-right: 20px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.pokemonModal .modalMiddleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonModal .modalImage {
  max-width: 60%;
  margin: 0 10%;
  z-index: 999;
}

.pokemonModal .modalMiddleDiv button {
  border: none;
  background-color: inherit;
}

.pokemonModal .modalInfos {
  position: relative;
  padding: 0px 20px 20px;
  border-radius: 0 0 15px 15px;
  background-color: var(--grayscale-light);
}

.pokemonModal .modalInfos::before {
  position: absolute;
  left: 0%;
  top: -50px;
  content: "";
  width: 100%;
  height: 50px;
  border-radius: 15px 15px 0px 0px;
  background-color: var(--grayscale-light);
  z-index: -1;
}

.pokemonModal .modalTypes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pokemonModal .modalType2 {
  margin-left: 20px;
}

.pokemonModal .modalType1,
.pokemonModal .modalType2 {
  width: 125px;
  padding: 10px 0;
  border-radius: 30px;
}

.pokemonModal .modalStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.pokemonModal .baseStats {
  margin-bottom: 20px;
}

.pokemonModal .statsHP,
.pokemonModal .statsATK,
.pokemonModal .statsDEF,
.pokemonModal .statsSATK,
.pokemonModal .statsSDEF,
.pokemonModal .statsSPD {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}

.pokemonModal .nameHP,
.pokemonModal .nameATK,
.pokemonModal .nameDEF,
.pokemonModal .nameSATK,
.pokemonModal .nameSDEF,
.pokemonModal .nameSPD {
  flex-basis: 10%;
  border-right: 1px solid var(--grayscale-medium);
}

.pokemonModal .valueHP,
.pokemonModal .valueATK,
.pokemonModal .valueDEF,
.pokemonModal .valueSATK,
.pokemonModal .valueSDEF,
.pokemonModal .valueSPD {
  flex-basis: 15%;
}

.pokemonModal .barHP,
.pokemonModal .barATK,
.pokemonModal .barDEF,
.pokemonModal .barSATK,
.pokemonModal .barSDEF,
.pokemonModal .barSPD {
  flex: 1 0 70%;
}

.pokemonModal .barHP progress,
.pokemonModal .barATK progress,
.pokemonModal .barDEF progress,
.pokemonModal .barSATK progress,
.pokemonModal .barSDEF progress,
.pokemonModal .barSPD progress {
  width: 100%;
}

.pokemonModal .modalEvo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pokemonModal .postEvo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pokemonModal .preEvo,
.pokemonModal .preEvoSection,
.pokemonModal .postEvoSection,
.pokemonModal .postEvoSub {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemonModal .preEvoThumbnail,
.pokemonModal .postEvoThumbnail {
  max-width: 100px;
}

footer {
  max-width: 800px;
  margin: 0 auto 10px;
}

footer p {
  margin-bottom: 5px;
}

/******************************************
/* FONT
/*******************************************/

header h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--grayscale-white);
}

.searchByType select {
  font-size: 1.5rem;
}

main .loading,
main .searchNoResult {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center;
}

.morePokemons {
  font-size: 5rem;
  font-weight: bold;
  color: var(--grayscale-white);
}

.pokemonCardMini .pokemonId {
  font-size: 1.2rem;
  color: var(--grayscale-medium);
}

.pokemonCardMini .pokemonName {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.pokemonModal .topLine {
  font-size: 2.5rem;
  color: var(--grayscale-white);
}

.pokemonModal .topLineLeft button {
  font-size: 4rem;
  color: inherit;
  transition: color 0.4s ease;
}

.pokemonModal .modalMiddleDiv button {
  font-size: 4rem;
  color: var(--grayscale-white);
  transition: color 0.4s ease;
}

.pokemonModal .modalTypes {
  font-size: 2rem;
  color: var(--grayscale-white);
}

.pokemonModal .modalType1,
.pokemonModal .modalType2 {
  text-align: center;
}

.pokemonModal .baseStats {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.pokemonModal .nameHP,
.pokemonModal .nameATK,
.pokemonModal .nameDEF,
.pokemonModal .nameSATK,
.pokemonModal .nameSDEF,
.pokemonModal .nameSPD {
  font-size: 1.5rem;
}

.pokemonModal .valueHP,
.pokemonModal .valueATK,
.pokemonModal .valueDEF,
.pokemonModal .valueSATK,
.pokemonModal .valueSDEF,
.pokemonModal .valueSPD {
  font-size: 1.5rem;
  text-align: center;
}

.pokemonModal .modalEvo {
  text-align: center;
}

.pokemonModal .preEvoTitle,
.pokemonModal .postEvoTitle {
  font-size: 2rem;
  font-weight: bold;
}

.pokemonModal .preEvoName,
.pokemonModal .postEvoName {
  font-size: 1.5rem;
}

footer p {
  color: var(--grayscale-white);
  font-size: 1.2rem;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Focus */

.searchBarSection input:focus-visible,
.searchByType select:focus-visible,
.morePokemons:focus-visible {
  outline: 3px dashed black;
}

.pokemonCardMini:focus-visible {
  border: 3px solid black;
  outline: 0 dashed black;
}

.pokemonCardMini:focus-visible::after {
  border-radius: 12px;
}
/* Hover */

.pokemonCardMini:hover {
  border: 3px solid black;
  cursor: pointer;
}

.pokemonCardMini:hover::after {
  border-radius: 12px;
}

.pokemonModal .topLineLeft button:hover,
.pokemonModal .modalMiddleDiv button:hover {
  color: var(--grayscale-dark);
  cursor: pointer;
}

/* Links */

footer a:any-link {
  font-weight: bold;
  color: var(--grayscale-white);
  text-decoration: none;
}

/* Pokemon types */

.insecte {
  background-color: #a7b723;
}

.ténèbres {
  background-color: #75574c;
}

.dragon {
  background-color: #7037ff;
}

.électrik {
  background-color: #f9cf30;
}

.fée {
  background-color: #e69eac;
}

.combat {
  background-color: #c12239;
}

.feu {
  background-color: #f57d31;
}

.vol {
  background-color: #a891ec;
}

.spectre {
  background-color: #70559b;
}

.normal {
  background-color: #aaa67f;
}

.plante {
  background-color: #74cb48;
}

.sol {
  background-color: #dec16b;
}

.glace {
  background-color: #9ad6df;
}

.poison {
  background-color: #a43e9e;
}

.psy {
  background-color: #fb5584;
}

.roche {
  background-color: #b69e31;
}

.acier {
  background-color: #b7b9d0;
}

.eau {
  background-color: #6493eb;
}

/******************************************
/* MOBILE
/*******************************************/

@media (max-height: 820px) {
  .pokemonModal .modalImage {
    max-width: 30%;
    margin: 0 10%;
    z-index: 999;
  }
}

@media (max-width: 768px) {
  .pokemonCardMini {
    width: 18vw;
    height: 18vw;
  }
}

@media (max-width: 580px) {
  main {
    padding: 20px 10px;
  }

  .cardsSection {
    gap: 10px;
    margin-bottom: 10px;
  }

  .pokemonCardMini {
    width: 25vw;
    height: 25vw;
    margin-bottom: 10px;
  }

  .pokemonCardMini .pokemonId {
    font-size: 1.2rem;
    position: absolute;
    right: 9%;
  }

  .pokemonCardMini .pokemonName {
    font-size: 1.2rem;
    text-align: center;
  }

  .pokemonModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .pokemonModal .modalImage {
    max-width: 50%;
    margin: 0 10%;
    z-index: 999;
  }

  .pokemonModal .modalInfos::before {
    top: -30px;
    height: 30px;
  }

  .pokemonModal .modalTypes {
    margin-bottom: 10px;
  }

  .pokemonModal .modalType1,
  .pokemonModal .modalType2 {
    font-size: 1.5rem;
    width: 125px;
    padding: 5px 0;
    border-radius: 30px;
  }

  .pokemonModal .nameHP,
  .pokemonModal .nameATK,
  .pokemonModal .nameDEF,
  .pokemonModal .nameSATK,
  .pokemonModal .nameSDEF,
  .pokemonModal .nameSPD {
    font-size: 1.2rem;
    flex-basis: 12%;
  }

  .pokemonModal .valueHP,
  .pokemonModal .valueATK,
  .pokemonModal .valueDEF,
  .pokemonModal .valueSATK,
  .pokemonModal .valueSDEF,
  .pokemonModal .valueSPD {
    font-size: 1.2rem;
    flex-basis: 15%;
  }

  .pokemonModal .barHP,
  .pokemonModal .barATK,
  .pokemonModal .barDEF,
  .pokemonModal .barSATK,
  .pokemonModal .barSDEF,
  .pokemonModal .barSPD {
    flex-basis: 64%;
  }

  .pokemonModal .barHP progress,
  .pokemonModal .barATK progress,
  .pokemonModal .barDEF progress,
  .pokemonModal .barSATK progress,
  .pokemonModal .barSDEF progress,
  .pokemonModal .barSPD progress {
    width: 100%;
    padding-right: 30px;
  }

  .pokemonModal .preEvoThumbnail,
  .pokemonModal .postEvoThumbnail {
    max-width: 70px;
  }

  .pokemonModal .preEvoName,
  .pokemonModal .postEvoName {
    font-size: 1.2rem;
  }
}

@media (max-width: 440px) {
  .searchByType select {
    font-size: 1.2rem;
    background-position: calc(100% - 20px) calc(1.5em), calc(100% - 15px) calc(1.5em), 100% 0;
  }

  .pokemonCardMini {
    width: 24vw;
    height: 24vw;
  }

  .pokemonCardMini .pokemonId {
    font-size: 0.8rem;
  }

  .pokemonCardMini .pokemonName {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  .pokemonModal .topLine {
    font-size: 2rem;
  }

  .pokemonModal .nameHP,
  .pokemonModal .nameATK,
  .pokemonModal .nameDEF,
  .pokemonModal .nameSATK,
  .pokemonModal .nameSDEF,
  .pokemonModal .nameSPD {
    font-size: 1.2rem;
    flex-basis: 20%;
  }

  .pokemonModal .valueHP,
  .pokemonModal .valueATK,
  .pokemonModal .valueDEF,
  .pokemonModal .valueSATK,
  .pokemonModal .valueSDEF,
  .pokemonModal .valueSPD {
    font-size: 1.2rem;
    flex-basis: 25%;
  }

  .pokemonModal .barHP,
  .pokemonModal .barATK,
  .pokemonModal .barDEF,
  .pokemonModal .barSATK,
  .pokemonModal .barSDEF,
  .pokemonModal .barSPD {
    flex-basis: 50%;
  }
}

@media (max-width: 300px) {
  .pokemonCardMini {
    width: 34vw;
    height: 34vw;
  }

  .pokemonModal .topLine {
    font-size: 1.2rem;
  }

  .pokemonModal .topLineLeft button {
    font-size: 2rem;
  }

  .pokemonModal .modalImage {
    max-width: 40%;
    margin: 0 10%;
    z-index: 999;
  }

  .pokemonModal .baseStats {
    font-size: 1.2rem;
  }

  .pokemonModal .nameHP,
  .pokemonModal .nameATK,
  .pokemonModal .nameDEF,
  .pokemonModal .nameSATK,
  .pokemonModal .nameSDEF,
  .pokemonModal .nameSPD {
    font-size: 1.2rem;
    flex-basis: 20%;
  }

  .pokemonModal .valueHP,
  .pokemonModal .valueATK,
  .pokemonModal .valueDEF,
  .pokemonModal .valueSATK,
  .pokemonModal .valueSDEF,
  .pokemonModal .valueSPD {
    font-size: 1.2rem;
    flex-basis: 25%;
  }

  .pokemonModal .postEvoTitle,
  .pokemonModal .preEvoTitle {
    font-size: 1.2rem;
  }

  .pokemonModal .preEvoThumbnail,
  .pokemonModal .postEvoThumbnail {
    max-width: 60px;
  }
}

/******************************************
/* UTILITIES
/*******************************************/

.hidden {
  display: none !important;
}
