/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --primary-color: #dc0a2d;
  --grayscale-dark: #212121;
  --grayscale-medium: #666666;
  --grayscale-light: #e0e0e0;
  --grayscale-background: #efefef;
  --grayscale-white: #ffffff;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-color);
  padding: 10px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  max-width: 800px;
  margin: 10px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  margin-right: 15px;
}

.searchBarSection {
  max-width: 800px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
}

.searchBarSection input {
  max-width: 500px;
  width: calc(100% - 40px);
  height: 40px;
  margin-right: 15px;
  padding-left: 35px;
  border: none;
  border-radius: 20px;
  box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.25);
  background-image: url(/assets/icons/search.png);
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

.sortByButton {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.25);
  background-color: var(--grayscale-white);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1150px;
  min-height: 600px;
  margin: 0 auto 20px;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.25);
  background-color: var(--grayscale-background);
}

.cardsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 30px;
}

.morePokemons {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.pokemonCardMini {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--grayscale-white);
}

.pokemonCardMini::after {
  position: absolute;
  left: 0%;
  top: 60%;
  content: "";
  width: 100%;
  height: 40%;
  border-radius: 15px;
  background-color: var(--grayscale-light);
}

.pokemonCardMini .pokemonId {
  position: absolute;
  right: 6%;
  top: 5%;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: var(--grayscale-white);
}

.pokemonCardMini .pokemonThumbnail {
  position: absolute;
  top: 15%;
  left: 15%;
  max-width: 100%;
  max-height: 70%;
  z-index: 1;
}

.pokemonCardMini .pokemonName {
  position: absolute;
  bottom: 5%;
  width: 100%;
  z-index: 1;
}

footer {
  max-width: 800px;
  margin: 0 auto 10px;
}

footer p {
  margin-bottom: 5px;
}

/******************************************
/* FONT
/*******************************************/

header h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--grayscale-white);
}

.sortByButton {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.cardsSection .loading {
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: center;
}

.morePokemons {
  font-size: 5rem;
  font-weight: bold;
  color: var(--grayscale-white);
}

.pokemonCardMini .pokemonId {
  font-size: 1.2rem;
  color: var(--grayscale-medium);
}

.pokemonCardMini .pokemonName {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

footer p {
  color: var(--grayscale-white);
  font-size: 1.2rem;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Focus */

.searchBarSection input:focus-visible,
.searchBarSection .sortByButton:focus-visible,
.pokemonCardMini:focus-visible,
.morePokemons:focus-visible {
  outline: 3px dashed black;
}

/* Links */

footer a:any-link {
  font-weight: bold;
  color: var(--grayscale-white);
  text-decoration: none;
}

/* Pokemon types */

.insecte {
  background-color: #a7b723;
}

.ténèbres {
  background-color: #75574c;
}

.dragon {
  background-color: #7037ff;
}

.électrik {
  background-color: #f9cf30;
}

.fée {
  background-color: #e69eac;
}

.combat {
  background-color: #c12239;
}

.feu {
  background-color: #f57d31;
}

.vol {
  background-color: #a891ec;
}

.spectre {
  background-color: #70559b;
}

.normal {
  background-color: #aaa67f;
}

.plante {
  background-color: #74cb48;
}

.sol {
  background-color: #dec16b;
}

.glace {
  background-color: #9ad6df;
}

.poison {
  background-color: #a43e9e;
}

.psy {
  background-color: #fb5584;
}

.roche {
  background-color: #b69e31;
}

.acier {
  background-color: #b7b9d0;
}

.eau {
  background-color: #6493eb;
}

/******************************************
/* MOBILE
/*******************************************/

@media (max-width: 580px) {
  .pokemonCardMini {
    width: 30vw;
    height: 30vw;
  }
}

@media (max-width: 400px) {
  .pokemonCardMini .pokemonId {
    font-size: 0.7rem;
  }

  .pokemonCardMini .pokemonName {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
}
