/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --primary-color: #dc0a2d;
  --grayscale-dark: #212121;
  --grayscale-medium: #666666;
  --grayscale-light: #e0e0e0;
  --grayscale-background: #efefef;
  --grayscale-white: #ffffff;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-color);
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  width: 50%;
  margin: 50px auto 20px;
  display: flex;
  align-items: center;
}

header img {
  margin-right: 30px;
}

footer {
}

/******************************************
/* FONT
/*******************************************/

header h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--grayscale-white);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Pokemon types */
